
.icon-cog:before { content: '\e800'; } /* '' */
.icon-search-1:before { content: '\e801'; } /* '' */
.icon-yahoo-1:before { content: '\e802'; } /* '' */
.icon-duckduckgo:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
